<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQAMUgot7QLGFHexOg5Ice9VgWJI67Rfs</string>
	<key>GCM_SENDER_ID</key>
	<string>668551458050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>demirdoven.ikbal.Instagram-Clone-App</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-c2e57</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-c2e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668551458050:ios:40d11bb340042f2490e61b</string>
</dict>
</plist>